h1{
  text-align: center;
}

div {
  background-color: #34495E;
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  padding: 21px;
 }
 .wheiteColor{
color: cornsilk }

p{
  color: #e7dfdf;
}
a{
  color: #e7dfdf;
}

